{% load static %}
<nav
  class="navbar main-header navbar-expand-lg border border-0 {% if not identidade_visual.cor_sistema %}bg-dark{% endif %}"
  style="{% if identidade_visual.cor_suplente %}
     background: linear-gradient(to right, {{ identidade_visual.cor_sistema }}, {{ identidade_visual.cor_suplente }}) !important;
  {% else %}
    background-color: {{ identidade_visual.cor_sistema }} !important;
  {% endif %}">
  <div class="container custom-container">
    <a class="nav-link h-auto ms-1" data-widget="pushmenu" role="button"><i
        class="fas fa-bars fa-xl text-white"></i></a>
    <div class="collapse navbar-collapse d-none d-lg-flex justify-content-between">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-transparent text-white dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">Perfil</button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'profile_detail' request.user.id %}">Ver perfil</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'perfil_update' request.user.id %}">Atualizar perfil</a>
              </li>
              <li>
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item">Logout</button>
                </form>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>