{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-1 {% if not identidade_visual.cor_sistema %}bg-dark{% endif %}"
  style="{% if identidade_visual.cor_suplente %}
            background: linear-gradient(135deg, {{ identidade_visual.cor_sistema }}, {{ identidade_visual.cor_suplente }});
  {% else %}
            background: {{ identidade_visual.cor_sistema }};
  {% endif %}">
  <a href="{% url 'index' %}" class="brand-link border border-0 mb-5">
    {% if identidade_visual.logo %}
      <img src="{{ identidade_visual.logo.url }}" alt="Logo" class="brand-image" />
    {% else %}
      <img src="{% static 'imgs/logo.png' %}" alt="Logo Repex" class="brand-image" />
    {% endif %}
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        {% if user.is_superuser %}
          <li class="nav-item">
            <a href="{% url 'painel' %}" class="nav-link">
              <i class="fa-solid fa-toolbox fa-lg nav-icon"></i>
              <p>Opções do sistema</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'users' %}" class="nav-link">
              <i class="fa-solid fa-users fa-lg nav-icon"></i>
              <p>Gerenciar usuários</p>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</aside>
